.ToDoItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Task {
    opacity: 1;
    text-decoration: none;
}

.Done {
    opacity: 0.5;
    text-decoration: line-through;
}

.Remove {
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid rgb(253, 185, 185);
    padding-left: 5px;
    padding-right: 5px;
}