.LaoutWrapper {
    max-width: 900px;
    min-width: 90%;
    padding: 25px 10px;
    box-sizing: border-box;
    margin: auto;
    
}

.Layout {
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    width: 100%;
    padding: 20px;
    max-width: auto;   
}

.Title {
    text-align: center;
    font-size: 16px;
    padding-bottom: 30px;
}

@media(min-width: 550px) {

    .Title {
        font-size: 20px;
    }

    .LaoutWrapper {
        min-width: 70%;
        
    }
}

@media(min-width: 1000px) {

    .LaoutWrapper {
        min-width: 60%;
        
    }
}
